@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #0F0F0F;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}
a:link {
    color: #4287F5;
    text-decoration: none;
}
a:visited {
    color: #4287f5;
    text-decoration: none;
}
div.body {
    display: flex;
    flex: 1;
}
div.root {
    display: flex;
    flex-shrink: 1;
    max-height: 100vh;
    max-width: 100vw;
}
div.body,
div.content {
    display: flex;
    flex-direction: column;
}
div.navbar {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-height: 90px;
    border-bottom: 1px white solid;
    background: #0005;
}
a.navbar-item {
    text-decoration: none;
    list-style-type: none;
}
div.navbar-items {
    display: flex;
    flex-direction: row;
    flex: 1;
    vertical-align: middle;
    list-style-type: none;
    max-height: 90px;
}
ul.navbar-links {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style-type: none;
    line-height: 30px;
    list-style-type: none;
}
ul.navbar-links.main {
    flex: 1;
    list-style-type: none;
}
ul.navbar-links.logo {
    padding-left: 10px;
    list-style-type: none;
}
ul.navbar-links li.navbar-link {
    display: inline-flex;
    vertical-align: middle;
    list-style-type: none;
}
@media only screen and (min-width: 687px) {
	a.navbar-item {
    		display: flex;
    		list-style-type: none;
    		padding: 0 10px 5px;
    		align-items: center;
    		font-size: 23px;
    		color: white;
    		border-bottom: 3px solid;
    		clip-path: polygon(0 -100%, 100% -100%, 100% calc(100% - 3px), 0 calc(100% - 3px));
    		transition: clip-path .25s ease-in-out;
	}
}
@media only screen and (max-width: 686px) {
	a.navbar-item {
    		display: flex;
    		list-style-type: none;
    		padding: 0 5px 5px;
    		align-items: center;
    		font-size: 23px;
    		color: white;
    		border-bottom: 3px solid;
    		clip-path: polygon(0 -100%, 100% -100%, 100% calc(100% - 3px), 0 calc(100% - 3px));
    		transition: clip-path .25s ease-in-out;
	}
}
a.navbar-icon,
a.navbar-icon:hover {
    border-bottom: none !important;
    clip-path: none !important; 
    transition: transform .25s ease-in-out !important;
}
a.navbar-icon:hover {
    transform: scale(1.05);
}
a.navbar-item.rainbow,
a.navbar-item.rainbow:hover {
    margin-top: -4px;
    border-bottom: none;
    clip-path: none;
    transition: transform .25s ease-in-out;
}
a.navbar-item.rainbow:hover {
    color: white !important;
    transform: scale(.95);
}
a.navbar-item img.navbar-icon {
    width: 24px;
    height: 24px;
}
a.navbar-item i.navbar-icon {
    font-size: 24px;
}
.icon-text {
    display: inline-block;
    width: 42px;
    height: 42px;
}
h1.heading {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1.heading .icon-text+span {
    margin-left: 7.5px;
}
h1.error-heading {
    justify-content: center;
}
@media only screen and (max-width: 686px) {
    	a.navbar-item .navbar-icon+span {
        	padding-left: 2px;
        	transform: scale(.75);
    	}
}
@media only screen and (min-width: 687px) {
    	a.navbar-item .navbar-icon+span {
        	padding-left: 7.5px;
    	}
}
a.navbar-item.logo {
    height: 90px;
}
a.navbar-item:hover,
a.navbar-item:not(.logo).is-active {
    clip-path: polygon(0 -100%, 100% -100%, 100% 100%, 0 100%);
}
@media only screen and (min-width: 687px) {
	img.icon {
    		width: auto;
   		height: 90px
    	}
}
@media only screen and (max-width: 686px) {
	img.icon {
    		display:none;
    	}
}
ul.navbar-links li.dummy-height-setter {
    width: 0;
    height: 90px;
}
img.image {
    flex: 1;
    max-width: 40%;
}
img.item-show {
    border: 2px white solid;
    border-radius: 5px;
}
a.navbar-item.rainbow {
    animation: anim-rainbow 10s infinite;
}
@keyframes anim-rainbow {
    0% {
        color: hsla(0deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(0deg 100% 50%));
    }
    16.67% {
        color: hsla(60deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(60deg 100% 50%));
    }
    33.33% {
        color: hsla(120deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(120deg 100% 50%));
    }
    50% {
        color: hsla(180deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(180deg 100% 50%));
    }
    66.67% {
        color: hsla(240deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(240deg 100% 50%));
    }
    83.33% {
        color: hsla(300deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(300deg 100% 50%));
    }
    100% {
        color: hsla(360deg 100% 50%);
        filter: drop-shadow(0 0 5px hsla(360deg 100% 50%));
    }
}
body .container {
    display: flex;
    flex-shrink: 1;
    min-height: 0;
    height: calc(100vh - 91px)
}
body .container .is-show-more-button {
    display: none
}
body .container .content {
    flex: 1;
    padding: 10px 10px 0;
    text-shadow: 2px 2px 2px black;
}
div.boxes {
    display: flex;
    flex-direction: row;
}
div.boxes .box.no-grow {
    flex: 0;
}
div.boxes .box {
    flex: 1;
    padding: 5px;
}
div.boxes .box.min {
    flex-grow: 0;
    flex-shrink: 1;
}
div.boxes .box.larger {
    flex-grow: 2;
}
div.boxes .box.even-larger {
    flex-grow: 3;
}
div.boxes .box.no-pad {
    padding: 0;
}
div.boxes .box.flex {
    display: flex;
}
div.boxes .box.horizontal {
    flex-direction: column;
}
div.boxes.horizontal {
    flex-direction: column;
}
div.content-links {
    display: flex;
}
div.content-title {
    justify-content: space-between;
}
div.boxes.wrap {
    flex-wrap: wrap;
}
.inline-link {
    margin-left: 7px;
}
div.boxes .box:not(.horizontal).vertical-center {
    align-items: center;
}
div.boxes .box.horizontal.vertical-center {
    justify-content: center;
}
div.boxes .box:not(.horizontal).horizontal-center {
    justify-content: center;
}
div.boxes .box.horizontal.horizontal-center {
    align-items: center;
}
div.latest-video-heading h1 {
    margin: 0;
}
div.landing-boxes {
    flex: 1;
}
div.half {
    display: inline-block;
    width: 45%;
}
div.text {
    width: 75%;
}
img.clickable {
    cursor: pointer;
}
div.landing-page-box iframe {
    width: 100%;
    height: 225px;
    max-width: 400px;
    max-height: 225px;
}
.slide {
    line-height: 0;
    user-select: none;
}
a.no-link-highlight {
    color: white;
}
.selector {
    margin-top: 10px;
    user-select: none;
}
.sl-view {
    max-width: 25vw;
}
hr.gradient {
    mask-image: -webkit-gradient(linear, left top, right top, from(#000), to(transparent));
    mask-image: linear-gradient(90deg, #000, transparent);
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: left top, left bottom;
    
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(#000), to(transparent));
    -webkit-mask-image: linear-gradient(90deg, #000, transparent);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom
}
.peek-hidden {
    display: none;
}
div.landing-page-box {
    max-width: fit-content;
    max-width: -moz-fit-content;
    text-align: center;
    border: 2px outset white;
    padding: 15px;
    background: #0003;
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
}
div.landing-page-box:hover {
    background: rgba(0, 0, 0, 0.35);
}
div.landing-page-box h1 {
    margin-top: 0;
}
div.landing-page-box p {
    margin-bottom: 0;
}
.has-text-centered {
    text-align: center;
}
.disable-text-wrap {
    white-space: nowrap;
}
div.profile.hidden {
    display: none;
}
.button {
    border: solid 2px white;
    padding: 10px;
    user-select: none;
}
.button:hover {
    cursor: pointer;
}
.remove-top-margin {
    margin-top: 0
}
.boxes.spec-box .box.right {
    margin-left: 5px;
}
